@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin shadowPulse($red, $green, $blue) {
    0% {
        box-shadow: 0 0 2px 4px rgba($red, $green, $blue, 1);
    }

    100% {
        box-shadow: 0 0 10px 26px rgba($red, $green, $blue, 0);
    }
}

@mixin emergencyPulse($red, $green, $blue) {
    0% {
        box-shadow: 0 0 2px 4px rgba($red, $green, $blue, 1);
    }

    100% {
        box-shadow: 0 0 4px 8px rgba($red, $green, $blue, 0);
    }
}

@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}

@mixin pulsate($name, $duration) {
    @include animate($name, $duration, infinite, normal);
}

@mixin class($name) {
    .#{$name} {
        @content;
    }
}
