@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/100_Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/200_Extra-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/300_Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/400_Normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/500_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/600_Semi-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/700_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/800_Extra-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk-Family';
    src:  url('~@/assets/typo/Mosk/900_Ultra-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}