/*============= Normalize variables =============*/

/* The font size set on the root html element. */
$base-font-size: 16px;

/* The base line height determines the basic unit of vertical rhythm. */
$base-line-height: 24px;

/*
**  The length unit in which to output vertical rhythm values.
**  Supported values: px, em, rem.
*/
$base-unit: 'em';

/* The default font family. */
$base-font-family: null;

/* The font sizes for h1-h6. */
$h1-font-size: 2 * $base-font-size;
$h2-font-size: 1.5 * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1 * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

/* The amount lists and blockquotes are indented. */
$indent-amount: 40px !default;

/*============= Colors variables =============*/
$variations: (
    light: (
        function: lighten,
        parameters: 15%
    ),
    dark: (
        function: darken,
        parameters: 10%
    ),
    fade: (
        function: rgba,
        parameters: 0.7
    ),
    gray: (
        function: grayscale
    ),
    shade: (
        function: mix,
        parameters: white 80%
    )
);

$theme: (
    background: #efeff6,
    icons: #aabdf4
);

$theme_balanced: (
    red: #e27d60,
    blue: #85dcba,
    orange: #e8a87c,
    pink: #c38d9e,
    green: #41b3a3
);

$drawer_theme: (
    primary: #42A5F5,
    secondary: #676767,
);

$pulse_colors: (
    (255, 55, 60, 0.3),             //    Nivel 1 -> RESUSCITARE
    (255, 194, 55, 0.5),            //    Nivel 2 -> CRITIC
    (55, 125, 48, 0.7),             //    Nivel 3 -> URGENT
    (66, 164, 245, 1),            //    Nivel 4 -> NONURGENT
);
