/* entire scrollbar scope */
body::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 8px;
}
/* directional buttons at the top and bottom of the scrollbar */
body::-webkit-scrollbar-button {
    display: none;
}
/* space below the scrollbar */
body::-webkit-scrollbar-track {
    background-color: transparent;
}
/* not covered area by the scrollbar-thumb */
body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
/* draggable scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    // border: 5px solid #fff
}
/* resizser at the bottom of the scrollbar */
body::-webkit-resizer {
    
}
/* bottom of the scrollbar without resizse */
body::-webkit-scrollbar-corner {
    
}

.application {
    // font-family: 'Mosk-Family', Arial, Helvetica, sans-serif;
    font-family: Robot, Arial, Helvetica, sans-serif;
}

.default-color {
    color: color-variation($drawer_theme, 'secondary');
}