<template>
    <v-fade-transition>
        <v-layout class="height-100 change-flow" row wrap v-show="dataReady">
            <v-flex xs12 sm12 md8 class="height-100 flex-box column-flow justify-space-between">
                <v-card v-show="dataReady" dark style="background-image: linear-gradient(to right, #1976d2, #7dabd8);">
                    <div class="mb-5 px-5 py-5 flex-box column-flow">
                        <span class="mt-4 subheading font-weight-light">Welcome</span>
                        <span class="display-1">{{ getUser.last_name + ' ' + getUser.first_name }}</span>
                        <span class="mt-4 mb-4 font-weight-light font-italic" style="max-width: 400px;">To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear.</span>
                    </div>
                </v-card>
                <!-- STATUS CARD -->
                <v-card class="my-3">
                    <v-layout class="ma-0 change-flow">
                        <v-flex xs12 md4>
                            <div class="my-4 mx-3 flex-box row-flow align-center">
                                <v-avatar tile>
                                    <img src="@/assets/img/appointments.png" alt="Appointments">
                                </v-avatar>
                                <div class="mx-3 flex-box column-flow align-left">
                                    <span class="headline font-weight-bold">
                                        {{ appointments.length }}
                                        <v-chip class="font-weight-light"
                                            label 
                                            small 
                                            outline
                                            :color="increasePercentage(yestardayAppointments.length, todayAppointments.length) >= 0 ? 'green' : 'red'"
                                        >{{ increasePercentage(yestardayAppointments.length, todayAppointments.length) }} %</v-chip>
                                    </span>
                                    <span class="title font-weight-regular">Appointments</span>
                                    <span class="my-2 caption text-uppercase font-weight-thin">Today</span>
                                </div>
                            </div>
                        </v-flex>
                        <v-divider
                            class="mx-1"
                            :vertical="!small"
                        ></v-divider>
                        <v-flex xs12 md4>
                            <div class="my-4 mx-3 flex-box row-flow align-center">
                                <v-avatar tile>
                                    <img src="@/assets/img/urgent.png" alt="Urgent">
                                </v-avatar>
                                <div class="mx-3 flex-box column-flow align-left">
                                    <span class="headline font-weight-bold">
                                        {{ getEmergencyPatients.length }}
                                        <!-- <v-chip class="font-weight-light"
                                            label 
                                            small 
                                            outline
                                            :color="increasePercentage(yestardayAppointments.length, appointments.length) >= 0 ? 'green' : 'red'"
                                        >{{ increasePercentage(yestardayAppointments.length, appointments.length) }} %</v-chip> -->
                                    </span>
                                    <span class="title font-weight-regular">Emergencies</span>
                                    <span class="my-2 caption text-uppercase font-weight-thin">Today</span>
                                </div>
                            </div>
                        </v-flex>
                        <v-divider
                            class="mx-1"
                            :vertical="!small"
                        ></v-divider>
                        <v-flex xs12 md4>
                            <div v-if="dataReady" class="my-4 mx-3 flex-box row-flow align-center">
                                <v-avatar tile>
                                    <img src="@/assets/img/doctors.svg" alt="Doctors">
                                </v-avatar>
                                <div class="mx-3 flex-box column-flow align-left">
                                    <span class="headline font-weight-bold">
                                        {{ doctors.length }}
                                        <v-chip class="font-weight-light"
                                            label 
                                            small 
                                            outline
                                            :color="increasePercentage(yesterdayDoctors.length, doctors.length) >= 0 ? 'green' : 'red'"
                                        >{{ increasePercentage(yesterdayDoctors.length, doctors.length) }} %</v-chip>
                                    </span>
                                    <span class="title font-weight-regular">Doctors</span>
                                    <span class="my-2 caption text-uppercase font-weight-thin">Today</span>
                                </div>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card>
                <!-- TODAY DOCTORS -->
                <h1 v-if="dataReady" class="mt-3 mb-0">Today's Doctors</h1>
                <carousel v-if="dataReady" class="ma-0" :perPage="carouselPages" :paginationEnabled="false">
                    <slide class="doctor-card" v-for="(doctor, key) in doctors" :key="key">
                        <v-card class="ma-0">
                            <div class="py-4 flex-box column-flow align-center">
                                <v-avatar :size="68" tile>
                                    <img src="@/assets/img/doctors.svg" alt="Appointments">
                                </v-avatar>
                                <span class="mt-3 title font-weight-medium">{{ doctor.human.first_name }}</span>
                                <span class="caption font-weight-thin text-uppercase low-opacity">{{ doctor.speciality }}</span>
                                <div v-if="doctor.avg_rating[0]" class="mt-2 flex-box row-flow align-center">
                                    <span>({{ doctor.avg_rating[0].count }})</span>
                                    <v-rating
                                        readonly
                                        v-model="doctor.avg_rating[0].stars"
                                        half-increments
                                    ></v-rating>
                                </div>
                            </div>
                            <v-divider></v-divider>
                            <div class="py-2 text-xs-center">
                                <span class="low-opacity">
                                    <v-icon class="mx-1" small>mdi-clock-outline</v-icon> 10:00 AM to 12:00 PM 
                                </span>
                            </div>
                        </v-card>
                    </slide>
                </carousel>
            </v-flex>
            <!-- APPOINTMENT CALENDAR CARD -->
            <v-flex xs12 sm12 md4>
                <v-card id="appointment-card" class="height-100">
                    <v-date-picker 
                        v-model="picker"
                        :landscape="false"
                        :class="[active ? 'active' : '']"
                        @change="onDateChange"
                        dark
                    ></v-date-picker>
                    <v-btn class="togglePicker" @click="active = !active" color="blue darken-2" dark>
                        <v-icon> {{ active ? 'mdi-arrow-up-thick' : 'mdi-arrow-down-thick' }}</v-icon>
                    </v-btn>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">
                                <span class="caption font-weight-thin font-italic">{{ appointments.length }}</span>
                                Appointments
                                <v-btn icon color="blue darken-2" dark @click="setAppointmentDialog(true)">
                                    <v-icon>add</v-icon>
                                </v-btn>
                            </h3>
                        </div>
                    </v-card-title>

                    <v-layout row wrap justify-center class="mx-3" style="margin: 16px 0;">
                        <v-flex xs12 v-show="loading">
                            <v-progress-linear :indeterminate="true"></v-progress-linear>
                        </v-flex>
                        <v-flex xs12 v-for="(appointment, key) in appointments" :key="key">
                            <v-card class="appointment-card" :color="onGoing.indexOf(key) != -1 ? 'blue darken-2' : ''" :dark="onGoing.indexOf(key) != -1">
                                <v-card-title primary-title>
                                    <div class="caption font-weight-thin">
                                        {{ appointment.start_time | moment('h:mm a') }}
                                        to 
                                        {{ appointment.end_time | moment('h:mm a') }}
                                    </div>
                                    <div class="my-2 flex-box row-flow align-center">
                                        <v-avatar tile color='grey lighten-4'>
                                            <img :src="getAvatar(appointment.patient.user)" alt="avatar">
                                        </v-avatar>
                                        <div class="mx-2 flex-box column-flow align-left">
                                            <span class="headline font-weight-medium">
                                                {{ appointment.patient.human.last_name + ' ' + appointment.patient.human.first_name }}
                                            </span>
                                            <span class="subheading">Followed up with 
                                                <span class="font-weight-bold">{{ appointment.doctor.human.last_name + ' ' + appointment.doctor.human.first_name }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
            <utils-appointment-modal></utils-appointment-modal>
        </v-layout>
    </v-fade-transition>
</template>

<script>
    //  Utilities
    import axios from 'axios'
    import { mapGetters, mapActions } from 'vuex'
    import appointments from '@/services/appointments'
    import doctors from '@/services/doctors'

    export default {
        components: {
        },
        computed: {
            ...mapGetters(['getStorageURL']),
            ...mapGetters('auth', ['getUser']),
            ...mapGetters('dashboard', ['getEmergencyPatients']),
            onGoing() {
                let onGoingAppointments = this.appointments.filter(appointment => {
                    const start = this.$moment(appointment.start_time)
                    const end = this.$moment(appointment.end_time)
                    const now = this.$moment(this.now)
                    return now.isBetween(start, end)
                })
                let keys = []
                onGoingAppointments.forEach(appointment => {
                    keys.push(this.appointments.indexOf(appointment))
                })
                return keys
            },
            dataReady() {
                return !!(this.doctors && this.yesterdayDoctors)
            },
            carouselPages() {
                if (this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) {
                    return 1
                }
                return 3
            },
            small() {
                return this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm
            }
        },
        data() {
            return {
                appointments: [],
                todayAppointments: [],
                yestardayAppointments: [],
                doctors: null,
                yesterdayDoctors : null,
                picker: new Date().toISOString().substr(0, 10),
                now: new Date().toISOString(),
                active: false,
                loading: false,
                dow: ['SU', 'MO', 'TU', 'WE', 'TH', 'FR', 'SA'],
            }
        },
        methods: {
            ...mapActions('app', ['setAppointmentDialog']),
            getAvatar(user) {
                return user ? this.getStorageURL + 'images/avatars/' + user.avatar : this.getStorageURL + 'images/avatars/patient.png'
            },
            onDateChange() {
                this.loading = true
                setTimeout(() => {
                    this.fetchAppointments(this.picker)
                        .then(response => {
                            this.appointments = response.data.appointments
                            this.loading = false
                            this.active = false
                        })
                }, 1000)
            },
            increasePercentage(oldValue, newValue) {
                if (oldValue === 0) {
                    return Infinity
                } 
                const decrease = newValue - oldValue
                const decreasePercentage = (decrease / oldValue ) * 100
                return decreasePercentage
            },
            fetchAppointments(day) {
                let query = day ? `?day=${day}&` : ''
                return appointments.fetch(query)
            },
            fetchDoctors(day) {
                let query = day ? `?day=${day}&` : ''
                return doctors.fetch(query)
            }
        },
        created() {
            const now = this.$moment()
            const yestarday = this.$moment().subtract(1, 'days')
            if (!this.dataReady) {
                this.fetchDoctors(this.dow[now.day()])
                    .then(response => {
                        this.doctors = response.data.doctors
                        this.doctors.forEach(doctor => {
                            if (doctor.avg_rating.length === 0) {
                                doctor.avg_rating.push({
                                    stars: 0,
                                    count: 0,
                                })
                            }
                        })
                    })
                this.fetchDoctors(this.dow[yestarday.day()])
                    .then(response => {
                        this.yesterdayDoctors = response.data.doctors
                    })
            }
            this.onDateChange()
            this.fetchAppointments(yestarday.format('YYYY-MM-DD'))
                .then(response => {
                    this.yestardayAppointments = response.data.appointments
                })
            this.fetchAppointments(now.format('YYYY-MM-DD'))
                .then(response => {
                    this.todayAppointments = response.data.appointments
                })
                
            setInterval(() => {
                this.now = new Date().toISOString()
            }, 1000);
        }
    }
</script>

<style lang="scss">
    /* entire scrollbar scope */
    #appointment-card::-webkit-scrollbar {
        background-color: #F5F5F5;
        width: 8px;
    }
    /* directional buttons at the top and bottom of the scrollbar */
    #appointment-card::-webkit-scrollbar-button {
        display: none;
    }
    /* space below the scrollbar */
    #appointment-card::-webkit-scrollbar-track {
        background-color: transparent;
    }
    /* not covered area by the scrollbar-thumb */
    #appointment-card::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    /* draggable scrollbar itself */
    #appointment-card::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
    }
    #appointment-card {
        .v-picker {
            width: 100%;

            &.active {
                .v-picker__body {
                    max-height: fit-content;
                    transition: max-height 0.25s ease-in;
                }
            }

            .v-picker__body {
                width: 100% !important;
                max-height: 0;
                transition: max-height 0.25s ease-out;
            }
        }  
    }
    .appointment-card {
        .v-card__title {
            flex-flow: column;
            text-align: left;
            align-items: start;
        }
    }
    .togglePicker {
        position: absolute;
        transform: translate(-50%, 0);
        top: -26px;
        left: 50%;
    }

    .flex-box {
        display: flex;
    }

    .row-flow {
        flex-flow: row;
    }

    .column-flow {
        flex-flow: column;
    }

    .height-100 {
        height: 100%;
    }

    .low-opacity {
        opacity: 0.8;
    }

    .doctor-card {
        margin: 16px 0;
    }

    @media screen and (max-width: 960px) {
        .change-flow {
            flex-flow: column;
        }
    }
     
</style>