<template>
    <div class="chat" v-if="dataReady">
        <!-- :messages="getMessages"  -->
        <v-card>
            <v-toolbar color="cyan" dark>
                <v-toolbar-side-icon></v-toolbar-side-icon>
    
                <v-toolbar-title>Doctors</v-toolbar-title>
    
                <v-spacer></v-spacer>
    
                <v-btn icon>
                    <v-icon>search</v-icon>
                </v-btn>
            </v-toolbar>

            <v-layout row>
                <v-flex xs7 sm8 md8 lg8>
                    <core-conversation />
                </v-flex>

                <v-flex xs5 sm4 md4 lg4>
                    <core-contacts-list :contacts="getContacts" />
                </v-flex>
            </v-layout>
        </v-card>
    </div>
</template>

<script>
//  Utilities
import { mapGetters, mapActions } from 'vuex'

export default {
    computed: {
        ...mapGetters('chat', ['getContacts']),
        ...mapGetters('auth', ['getUser']),

        dataReady() {
            return !!this.getContacts
        }
    },
    
    data() {
        return {
            selectedContact: null,
            messages: [],
        }
    },

    methods: {
        ...mapActions('chat', ['fetchContacts']),
    },

    created() {
        if (!this.dataReady) {
            this.fetchContacts()
        }
    }
}
</script>

<style lang="sass" scoped>

</style>
