<template>
    <div class="contacts-list">
        <v-list two-line>
            <template v-for="(contact, index) in contacts">
                <div :key="contact.id">
                    <v-subheader v-if="index === 0">
                        Friends
                    </v-subheader>

                    <v-list-tile avatar @click="foo">
                        <v-list-tile-avatar>
                            <img :src="getStorageURL + 'images/avatars/' + contact.avatar">
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                            <v-list-tile-title v-html="contact.lastName + ' ' + contact.firstName"></v-list-tile-title>
                        </v-list-tile-content>

                    </v-list-tile>

                    <v-divider v-if="index < contacts.length - 1"></v-divider>
                </div>
            </template>
        </v-list>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    computed: {
        ...mapGetters(['getStorageURL']),
    },

    props: {
        contacts: {
            type: Array,
            default: []
        },
    },

    methods: {
        foo() {
           return true 
        }
    },
}
</script>
