<template>
	<v-navigation-drawer
		id="app-drawer"
		v-model="inputValue"
		:mini-variant="drawer.mini"
		:fixed="drawer.fixed"
		:clipped="drawer.clipped"
		:permanent="drawer.permanent"
		:light="drawer.light"
		:dark="drawer.dark"
		:class="getDrawerBackground"
		app
	>
		<v-layout fill-height tag="v-list" column>
			<v-list-tile
				v-for="(link, index) in links"
				:key="index"
				:to="link.to"
				avatar
				class="v-list-item"
			>
				<v-list-tile-action>
					<v-icon>{{ link.icon }}</v-icon>
				</v-list-tile-action>
				<v-list-tile-title v-text="link.text"></v-list-tile-title>
			</v-list-tile>

			<v-divider></v-divider>

			<v-list-tile class="drawer-footer" @click="toggleMiniVariant">
				<v-list-tile-title>Minify</v-list-tile-title>
				<v-list-tile-action>
					<v-icon v-if="!drawer.mini">mdi-chevron-left</v-icon>
					<v-icon v-else>mdi-chevron-right</v-icon>
				</v-list-tile-action>
			</v-list-tile>
		</v-layout>
	</v-navigation-drawer>
</template>

<script>
//  Utilities
import { mapActions, mapGetters } from 'vuex'

export default {
	data() {
		return {
			drawer: {
				// 	sets the drawer to the mini variant, showing only icons, of itself (true)
      			// 	or showing the full drawer (false)
				mini: true,
				// 	sets if the drawer is CSS positioned as 'fixed'
				fixed: true,
				// 	sets if the drawer is shown above (false) or below (true) the toolbar
				clipped: false,
				// 	sets if the drawer remains visible all the time (true) or not (false)
				permanent: false,
				//	sets light theme
				light: true,
				//	sets dark theme
				dark: true,
			},
			links: [
				{
					to: '/',
					icon: 'mdi-home',
					text: 'Home',
				},
				{
					to: '/dashboard',
					icon: 'mdi-view-dashboard',
					text: 'Dashboard',
				},
				{
					to: '/hospital',
					icon: 'mdi-hospital-building',
					text: 'Hospital'
				},
				{
					to: '/emergency',
					icon: 'mdi-car-brake-alert',
					text: 'Emergency'
				},
				{
					to: '/monitoring',
					icon: 'mdi-pulse',
					text: 'Monitoring'
				},
				// {
				// 	to: '/care',
				// 	icon: 'mdi-needle',
				// 	text: 'Care'
				// },
				// {
				// 	to: '/hospital',
				// 	icon: 'mdi-hospital',
				// 	text: 'Hospital'
				// },
				// {
				// 	to: '/pharmacy',
				// 	icon: 'mdi-pharmacy',
				// 	text: 'Pharmacy'
				// }
			]
		}
	},
	computed: {
		...mapGetters('app', ['getDrawer', 'getDrawerBackground']),
		inputValue: {
			get() {
				return this.getDrawer
			},
			set(val) {
				this.setDrawer(val)
			}
		}
	},
	methods: {
		...mapActions('app', ['setDrawer']),
		toggleMiniVariant() {
			this.drawer.mini = !this.drawer.mini
		}
	}
}
</script>

<style lang="scss" scoped>

.drawer-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.theme--dark {
	.drawer-footer{
		background: color-variation($drawer_theme, 'primary');
	}
}

// .theme--light {
// 	.drawer-footer{}
// }


</style>
