<template>
    <v-toolbar id="core-toolbar" color="white" app flat>
        <v-layout align-center fill-height>
            <v-flex sm5 md5 xl5>
                <v-toolbar-side-icon @click.native="toggleDrawer">
                <v-icon>mdi-view-headline</v-icon>
                </v-toolbar-side-icon>
            </v-flex>

            <v-flex sm2 md2 xl2 text-center>
                <v-avatar id="logo" :class="severityLevel" @click="openMonitoring">
                    <span>+</span>
                </v-avatar>
            </v-flex>
            
            <v-flex sm5 md5 xl5>
                <v-layout align-center justify-end fill-height>
                    <div id="notification">
                        <utils-notification />
                    </div>

                    <!-- <v-divider vertical></v-divider> -->
                    <div class="divider">
                    </div>

                    <div id="user">
                        <utils-menu :options="userOptions" :avatar="userAvatar">
                            <template v-slot:button>
                                {{ getUser.last_name + " " + getUser.first_name }}
                            </template>
                        </utils-menu>
                    </div>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-toolbar>
</template>

<script>
import animationSync from 'css-animation-sync';
import { mapGetters, mapActions } from 'vuex'

export default {
    computed: {
        ...mapGetters('auth', ['getUser']),
        ...mapGetters(['getStorageURL']),
        logo() {
            return this.getStorageURL + 'images/logos/logo.png'
        },

        userAvatar() {
            return this.getUser.avatar ? this.getStorageURL + 'images/avatars/' + this.getUser.avatar : ''
        },

        severityLevel() {
            return 'severity-' + this.$store.state.app.severity
        }
    },

    data() {
        return {
            userOptions: [
                { title: 'Medical records', icon: 'mdi-account-settings', action: '' },
                { title: 'Account settings', icon: 'mdi-account-settings', action: '' },
                { title: 'Sign out', icon: 'mdi-account-logout', action: 'auth/logout' }
            ],
        }
    },

    methods: {
        ...mapActions('app', ['toggleDrawer']),
        openMonitoring() {
            if (this.$route.path !== '/monitoring') {
                this.$router.push({ path: 'monitoring' })
            }
        }
    },

    mounted () {
        let logo = document.getElementById('logo')
		logo.addEventListener("animationstart", (e) => {
            animationSync(e.animationName)
		})
    },
}
</script>

<style lang="scss" scoped>
    $i: 0;
    $pulsate: 'pulsate-';
    $severity: 'severity-';
    @each $red, $green, $blue, $duration in $pulse_colors {
        $i: $i + 1;
        @include keyframe($pulsate + $i) {
            @include shadowPulse($red, $green, $blue);
        }
        @include class($severity + $i) {
            background: rgba($red, $green, $blue, 1);
            @include pulsate(#{$pulsate + $i}, #{$duration + 's'});
        }
    }
    
    .text-center {
        text-align: center;
    }

    #logo {
        z-index: 1;
        color: white;
        font-size: 48px;
        font-weight: 400;
        line-height: 1;
        cursor: pointer;
        transition: background 1s ease;
        font-family: Roboto,sans-serif;
    }

    #notification {
        margin: 0 20px;
    }

    .divider {
        height: 36px;
        width: 1px;
        background: #dfdfdf;
    }
</style>
