<template lang="html">
    <v-content>
        <v-fade-transition mode="out-in">
            <router-view height="100%" id="core-view" />
        </v-fade-transition>
    </v-content>
</template>

<script>
    export default {

    }
</script>

<style>
    #core-view {
        height: 100%;
    }
</style>
