<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
        />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
        <title>frontend</title>
    </head>
    <body>
        <noscript>
            <strong>
                We're sorry but frontend doesn't work properly without
                JavaScript enabled. Please enable it to continue.
            </strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
