<template>
	<v-container v-if="dataReady" fluid grid-list-lg>
		<v-layout row wrap>
			<v-flex pa-0 xs12>
				<v-card flat color="transparent">
					<v-card-text class="px-0">
						<h1 class="default-color">
							Hospital management
							<v-chip outline color="blue" label>ADMIN</v-chip>
						</h1>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex pa-0 xs12>
				<v-tabs
					v-model="active"
					color="transparent"
					left
					slider-color="#42A5F5">
					<v-tab>Overview</v-tab>
					<v-tab>Activity</v-tab>
					<v-tab>Management</v-tab>

					<v-tab-item>
						<v-layout row wrap fill-height>
							<v-flex pa-0 xs12 md8>
								<v-layout ma-0 row wrap fill-height>
									<v-flex xs4 v-for="(entity, type) in managementData" :key="type">
										<utils-overview-card :entity="entity" :type="type"></utils-overview-card>
									</v-flex>
								</v-layout>
							</v-flex>


							<v-flex pa-0 xs12 md4>
								<v-layout ma-0 row wrap fill-height>
									<v-flex xs12>
										<utils-chart-card :type="'pie'"></utils-chart-card>
									</v-flex>
								</v-layout>
							</v-flex>
						</v-layout>
						<!-- <utils-patient-card :id="1"></utils-patient-card> -->
					</v-tab-item>

					<v-tab-item>
						<utils-data-table 
							:editable="false"
							:dataCategory="activitySelectedDataCateogry" 
							:dataCategories="activityDataTableCategories" 
							:data="activityDataTable">
						</utils-data-table>
					</v-tab-item>

					<v-tab-item>
						<utils-data-table 
							:dataCategory="managementSelectedDataCategory" 
							:dataCategories="managementDataTableCategories" 
							:data="managementDataTable">
						</utils-data-table>
					</v-tab-item>
				</v-tabs>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
//  Utilities
import { mapGetters, mapActions } from 'vuex'

export default {
	computed: {
		...mapGetters('dashboard', ['getDoctors', 'getPatients', 'getActivityData', 'getManagementData', 'getManagementCategories', 'getActivityCategories']),
		...mapGetters('app', ['getSelectedDataTableCategory']),
		dataReady() {
			return !!(this.getDoctors && this.getPatients && this.getActivityData)
		},
		//	Management Table Data
		managementData() {
			return this.getManagementData || {}
		},
		managementDataTable() {
			return this.managementData[this.managementSelectedDataCategory] || []
		},
		managementSelectedDataCategory() {
			return this.getSelectedDataTableCategory || Object.keys(this.managementData)[0] || null
		},
		managementDataTableCategories() {
			return this.getManagementCategories || []
		},
		//	Activity Table Data
		activityData() {
			return this.getActivityData || {}
		},
		activityDataTable() {
			return this.getActivityData[this.activitySelectedDataCateogry] || []
		},
		activitySelectedDataCateogry() {
			return this.getSelectedDataTableCategory || Object.keys(this.activityData)[0] || null
		},
		activityDataTableCategories() {
			return this.getActivityCategories || []
		},
	},
	data() {
		return {
			active: null,
		}
	},
	methods: {
		...mapActions('dashboard', ['fetchDoctors', 'fetchActivities']),
		...mapActions('app', ['setProgress']),
	},
	created() {
		if (!this.dataReady) {
			this.fetchDoctors()
			this.fetchActivities()
		}

		window.Echo.channel('activityAction')
			.listen('ActivityStored', (e) => {
				this.fetchActivities()
			})
	},
	mounted() {
		
	}
}
</script>

<style lang="scss">
	h1, h3 {
		font-weight: 400;
	}

	.v-tabs__wrapper {
		margin-bottom: 40px;
	}
</style>
