<template>
    <v-container fluid grid-list-lg height="100%">
        <v-fade-transition>
            <v-layout column v-show="dataReady">
                <v-flex xs12>
                    <utils-my-data-table
                        :items="getEmergencyPatients"
                        :itemsBlueprint="emergencyPatientsBlueprint"
                        :actions="patientsActions"
                        :sortBy="'intervention'"
                        headerColor="primary"
                        theme="dark"
                        title="On hold patients"
                        noDataMessage="There are no patients in emergency"
                    ></utils-my-data-table>
                </v-flex>
            </v-layout>
        </v-fade-transition>

        <v-fade-transition>
            <v-layout column v-show="dataReady">
                <v-flex xs12>
                    <v-card>
                        <v-card-title>
                            <h1 class="headline">Information guide</h1>
                        </v-card-title>

                        <v-card-text>
                            <p class="title">Emergency</p>
                            <p class="body-2">Sudden medical condition or aggravation of a chronic medical condition that endangers the person's life (respiratory and circulatory function and constipation).</p>
                            <p class="title">Acute disease</p>
                            <p class="body-2">An episode or short-term illness or exacerbation of a chronic illness that does not endanger vital functions. Ex: fever, diarrheal disease, tonsillitis, biliary colic, kidney, asthenia, respiratory vein, etc. Depending on their severity, in the pre-hospital the emergencies are classified using the color criteria by codes: Thus, the decreasing order of the degree of urgency we have the following categories:</p>
                        </v-card-text>

                        <v-card-text>
                            <table style="width:100%">
                                <tr bgcolor="#42A5F5">
                                    <th style="text-align:left;padding:5px 10px;color:white">Color</th>
                                    <th style="text-align:left;padding:5px 10px;color:white">Severity</th>
                                    <th style="text-align:left;padding:5px 10px;color:white">Code</th>
                                    <th style="text-align:left;padding:5px 10px;color:white">Grade</th>
                                </tr>
                                <tr v-for="(gd, key) in guide" :key="key">
                                    <td :bgcolor="gd.color" style="padding:5px 10px;"> </td>
                                    <td style="padding:5px 10px;">{{ gd.severity }}</td>
                                    <td style="padding:5px 10px;">{{ gd.code }}</td>
                                    <td style="padding:5px 10px;">{{ gd.grade }}</td>
                                </tr>
                            </table>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-fade-transition>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import rooms from '@/services/rooms'

    export default {
        data() {
            return {
                emergencyPatientsBlueprint: [
                    { label: 'First name', value: 'human.first_name', align: 'text-xs-center', type: 'text' },
                    { label: 'Last name', value: 'human.last_name', align: 'text-xs-center', type: 'text' },
                    { label: 'Gender', value: 'human.gender', align: 'text-xs-center', type: 'text' },
                    { label: 'Phone no.', value: 'human.phone_no', align: 'text-xs-center', type: 'text' },
                    { label: 'Hospitalized', value: 'emergency_at', align: 'text-xs-center', type: 'data' },
                    { label: 'Intervention', value: 'intervention', align: 'text-xs-center', animation: 'severity', type: 'counter' },
                    { label: 'Severity', value: 'severity', align: 'text-xs-center', type: 'severity' },
                ],
                patientsActions: [
                    { icon: 'mdi-medical-bag', tooltip: 'Take care', align: 'text-xs-center', func: 'hospitalize', patterns: []  },
                    { icon: 'mdi-monitor', tooltip: 'Read medical reports', align: 'text-xs-center', func: 'openPatient', patterns: []  },
                    { icon: 'mdi-pulse', tooltip: 'Monitor', align: 'text-xs-center', func: 'monitor', patterns: []  },
                ],
                guide: [
                    { color: '#F44336', severity: 'Level I (1)', code: 'Red code', grade: 'Resuscitation' },
                    { color: '#FF9800', severity: 'Level II (2)', code: 'Orange code', grade: 'Critic' },
                    { color: '#4CAF50', severity: 'Level III (3)', code: 'Green code', grade: 'Urgent' },
                    { color: '#42A5F5', severity: 'Level IV (4)', code: 'Blue code', grade: 'Acute disease' },
                ]
            }
        },
        computed: {
            ...mapGetters('dashboard', ['getEmergencyPatients']),
            dataReady() {
                return true
            },
        },
        methods: {
        },
    }
</script>

<style lang="scss" scoped>

</style>