<template>
	<v-container fluid grid-list-lg height="100%">
		<core-appointment></core-appointment>
	</v-container>
</template>

<script>
//  Utilities
import { mapGetters, mapActions } from 'vuex'

export default {
	computed: {
		...mapGetters('app', ['getSelectedDataTableCategory']),

	},
	data() {
		return {

		}
	},
	methods: {
		
	}
}
</script>

<style lang="scss" scoped>

</style>
