<template>
    <v-container fluid grid-list-lg height="100%">
        <v-fade-transition>
            <v-layout>
                <v-flex>
                    <span class="title">Selected patients: </span>
                    <v-radio-group v-model="patientSelectedSource" row>
                        <v-radio
                            v-for="(source, key) in patientSources"
                            :key="key"
                            :label="`${source} patients`"
                            :value="source"
                        ></v-radio>
                    </v-radio-group>
                </v-flex>
            </v-layout>
        </v-fade-transition>

        <v-fade-transition>
            <v-layout column v-show="dataReady">
                <v-flex xs12>
                    <utils-my-data-table
                        :items="patients"
                        :itemsBlueprint="hospitalizedPatientsBlueprint"
                        :actions="patientsActions"
                        :sortBy="'hospitalized'"
                        headerColor="primary"
                        theme="dark"
                        title="Hospitalized patients"
                        noDataMessage="There are no patients hospitalized"
                        v-on:edit="editPatient"
                    ></utils-my-data-table>
                </v-flex>       
            </v-layout>
        </v-fade-transition>

        <v-fade-transition>
            <v-layout>
                <v-flex class="text-xs-right">
                    <v-btn color="primary" @click="addingPatient = true">Add new Patient</v-btn>
                </v-flex>
            </v-layout>
        </v-fade-transition>

        <v-fade-transition>
            <v-layout>
                <v-flex xs12 v-if="editingPatient">
                    <utils-form
                        :formBlueprint="patientForm"
                        :item="patientUpdateFormItem"
                        title="Update patient info"
                        submitLabel="Update"
                        @submit="updatePatient"
                    ></utils-form>
                </v-flex>

                <v-flex xs12 v-if="addingPatient">
                    <utils-form
                        :formBlueprint="patientForm"
                        :item="patientAddFormItem"
                        title="Patient info"
                        submitLabel="Add"
                        @submit="addPatient"
                    ></utils-form>
                </v-flex>
            </v-layout>
        </v-fade-transition>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import rooms from '@/services/rooms'

    export default {
        data() {
            return {
                patientSources: ['all', 'hospitalized'],
                patientSelectedSource: 'hospitalized',
                hospitalizedPatientsBlueprint: [
                    { label: 'First name', value: 'human.first_name', align: 'text-xs-center', type: 'text' },
                    { label: 'Last name', value: 'human.last_name', align: 'text-xs-center', type: 'text' },
                    { label: 'CNP', value: 'cnp', align: 'text-xs-center', type: 'text' },
                    { label: 'Phone no.', value: 'human.phone_no', align: 'text-xs-center', type: 'text' },
                    { label: 'Email', value: 'human.email', align: 'text-xs-center', type: 'text' },
                    { label: 'Gender', value: 'human.gender', align: 'text-xs-center', type: 'text' },
                    { label: 'Martial status', value: 'human.martial_status', align: 'text-xs-center', type: 'text' },
                    { label: 'Hospitalized', value: 'hospitalized_at', align: 'text-xs-center', type: 'data' },
                ],
                patientsActions: [
                    { icon: 'mdi-pencil', tooltip: 'Edit', align: 'text-xs-center', func: 'edit', patterns: []  },
                    // { icon: 'mdi-medical-bag', tooltip: 'Take care', align: 'text-xs-center', func: 'hospitalize', patterns: []  },
                    { icon: 'mdi-monitor', tooltip: 'Read medical reports', align: 'text-xs-center', func: 'openPatient', patterns: []  },
                    // { icon: 'mdi-alert-circle', tooltip: 'Emergency', align: 'text-xs-center', func: 'emergency', patterns: []  },
                ],
                patientForm: [
                    { label: 'First Name', value: 'first_name', type: 'text', rule: 'name', flex: 'xs12 md6' },
                    { label: 'CNP', value: 'cnp', type: 'text', rule: 'cnp', flex: 'xs12 md6', icon: 'fingerprint' },
                    { label: 'Last Name', value: 'last_name', type: 'text', rule: 'name', flex: 'xs12 md6' },
                    { label: 'Phone number', value: 'phone_no', type: 'text', rule: 'phone', flex: 'xs12 md6', icon: 'smartphone' },
                    { label: 'Email', value: 'email', type: 'text', rule: 'email', flex: 'xs12 md12', icon: 'email' },
                    { label: 'Nationality', value: 'nationality', type: 'text', rule: 'nationality', flex: 'xs12 md6', icon: 'perm_identity' },
                    { label: 'Birth date', value: 'birth_date', type: 'date', rule: 'date', flex: 'xs12 md6', icon: 'event' },
                    { label: 'Address', value: 'address', type: 'textarea', rule: 'address', flex: 'xs12 md12', icon: 'location_on' },
                    { label: 'Country', value: 'country', type: 'autocomplete', rule: 'country', options: ["Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegowina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Congo, the Democratic Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia (Hrvatska)", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "France Metropolitan", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard and Mc Donald Islands", "Holy See (Vatican City State)", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran (Islamic Republic of)", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", "Lao, People's Democratic Republic", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, The Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia (Slovak Republic)", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and the South Sandwich Islands", "Spain", "Sri Lanka", "St. Helena", "St. Pierre and Miquelon", "Sudan", "Suriname", "Svalbard and Jan Mayen Islands", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan, Province of China", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands (British)", "Virgin Islands (U.S.)", "Wallis and Futuna Islands", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe"], flex: 'xs12 md12' },
                    { label: 'Gender', value: 'gender', type: 'select', rule: 'gender', options: ['Male', 'Female'], flex: 'xs12 md4' },
                    { label: 'Martial Status', value: 'martial_status', type: 'select', rule: 'martial_status', options: ['Single', 'Married '], flex: 'xs12 md4' },
                    { label: 'Weight', value: 'weight', type: 'number', rule: 'weight', flex: 'xs12 md4', unit: 'kg' },
                    { label: 'Monitoring', value: 'monitoring', type: 'switch', rule: 'boolean', flex: 'xs12 md4', disabled: false },
                    { label: 'Hospitalize', value: 'hospitalized', type: 'switch', rule: 'boolean', flex: 'xs12 md4', disabled: false },
                    { label: 'Emergency', value: 'emergency', type: 'switch', rule: 'boolean', flex: 'xs12 md4', disabled: false },
                    { label: 'Severity', value: 'severity', type: 'select', rule: 'boolean', options: ['4', '3', '2', '1'], condition: 'emergency', flex: 'xs12 md12'},
                ],
                patientAddFormItem: {
                    cnp: '',
                    first_name: '',
                    last_name: '',
                    birth_date: '',
                    phone_no: '',
                    email: '',
                    country: '',
                    nationality: '',
                    address: '',
                    gender: '',
                    martial_status: '',
                    monitoring: false,
                    hospitalized: false,
                    emergency: false,
                    weight: '',
                    severity: '4',
                },
                patientUpdateFormItem: {
                    id: '',
                    cnp: '',
                    first_name: '',
                    last_name: '',
                    birth_date: '',
                    phone_no: '',
                    email: '',
                    nationality: '',
                    address: '',
                    gender: '',
                    martial_status: '',
                    monitoring: false,
                    hospitalized: false,
                    emergency: false,
                    weight: '',
                    severity: '4',
                },
                addingPatient: false,
                editingPatient: false,
            }
        },
        computed: {
            ...mapGetters('dashboard', ['getHospitalizedPatients', 'getPatients']),
            dataReady() {
                return true
            },
            patients() {
                return this.patientSelectedSource === 'hospitalized' ? this.getHospitalizedPatients : this.getPatients
            }
        },
        methods: {
            updatePatient(patient) {
                this.$store.dispatch('dashboard/putPatient', {
                    id: patient.id,
                    body: patient
                })
                    .then(response => {
                        this.editingPatient = false
                    })
                    .catch(error => {

                    })
            },
            addPatient(patient) {
                let newPatient = {}
                for(let attr in patient) {
                    if (patient[attr] !== null &&  patient[attr] !== '') {
                        newPatient[attr] = patient[attr]
                    }
                }
                this.$store.dispatch('dashboard/createPatient', { body: newPatient })
                    .then(response => {
                        this.addingPatient = false
                    })
                    .catch(error => {

                    })
            },
            editPatient(patient) {
                this.editingPatient = true
                this.patientUpdateFormItem = {
                    id: patient.id,
                    cnp: patient.cnp,
                    first_name: patient.human.first_name,
                    last_name: patient.human.last_name,
                    birth_date: patient.human.birth_date,
                    phone_no: patient.human.phone_no,
                    email: patient.human.email,
                    country: patient.human.country,
                    nationality: patient.human.nationality,
                    address: patient.human.address,
                    gender: patient.human.gender,
                    martial_status: patient.human.martial_status,
                    monitoring: patient.monitoring,
                    hospitalized: patient.hospitalized,
                    emergency: patient.emergency,
                    weight: patient.human.weight,
                    severity: patient.severity,
                }
            }
        },
        created() {
        }
    }
</script>

<style lang="scss" scoped>

</style>