<template>
    <v-container fluid grid-list-lg height="100%">
        <v-fade-transition>
            <v-layout v-show="dataReady">
                <v-flex xs12>
                    <utils-my-data-table
                        v-if="dataReady"
                        :items="getMonitoringPatients"
                        :itemsBlueprint="monitoringPatientsBlueprint"
                        :sortBy="'intervention'"
                        :rowsPerPage="15"
                        :actions="patientsActions"
                        headerColor="primary"
                        theme="dark"
                        title="Monitored patients"
                        noDataMessage="There are no patients monitored"
                    ></utils-my-data-table>
                </v-flex>
            </v-layout>
        </v-fade-transition>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import rooms from '@/services/rooms'

    export default {
        data() {
            return {
                monitoringPatientsBlueprint: [
                    { label: 'First name', value: 'human.first_name', align: 'text-xs-center', type: 'text' },
                    { label: 'Last name', value: 'human.last_name', align: 'text-xs-center', type: 'text' },
                    { label: 'CNP', value: 'cnp', align: 'text-xs-center', type: 'text' },
                    { label: 'Temperature', value: 'temperature', align: 'text-xs-center', type: 'text' },
                    { label: 'BPM', value: 'bpm', align: 'text-xs-center', type: 'text' },
                ],
                patientsActions: [
                    { icon: 'mdi-monitor', tooltip: 'Monitor', align: 'text-xs-center', func: 'openPatient', patterns: []  },
                ],
                rooms: null,
            }
        },
        computed: {
            ...mapGetters('dashboard', ['getMonitoringPatients']),
            dataReady() {
                return true
            },
        },
        methods: {
        },
        created() {
        }
    }
</script>

<style lang="scss" scoped>

</style>