<template>
    <v-container fluid grid-list-lg height="100%">
        <v-fade-transition>
            <utils-patient-process
                :patient="patient"
            ></utils-patient-process>
        </v-fade-transition>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        computed: {
            ...mapGetters('dashboard', ['getPatients']),
            patient() {
                if (this.getPatients && this.$route.params.id) {
                    return this.getPatients.filter(patient => {
                        return patient.id === 2
                    })[0]
                }
                return null
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>