<template>
	<v-container fluid fill-height class="grey lighten-4">
		<v-layout justify-center align-center>
			<v-flex shrink>
				<h1>User asd {{ $route.params.id }}</h1>
			</v-flex>
		</v-layout>
	</v-container>
</template>
