<template>
	<div id="app">
		<v-app id="inspire" class="grey lighten-4">
			<core-toolbar v-if="!publicAllow && requiredData" />

			<core-drawer v-if="!publicAllow && requiredData" />
			
			<core-view v-if="publicAllow || requiredData" />

        	<!-- <core-footer v-if="!publicAllow && requiredData" /> -->

			<v-alert
				id="alertBox"
				dismissible
				transition="scale-transition"
				:value="getAlertVisibility"
				:type="getAlertType">
				{{ getAlertMessage }}
      		</v-alert>

			
			<utils-loader></utils-loader>

			<v-fade-transition>
				<div>
					<v-snackbar
						:color="notification.color"
						:bottom="true"
						:top="false"
						:left="false"
						:right="true"
						:timeout="0"
						:key="key"
						v-for="(notification, key) in getNotifications"
						v-model="notification.snackbar"
						dark
					>
						<v-icon
							color="white"
							class="mr-3"
						>mdi-bell-plus</v-icon>

						<div>{{ notification.message }}</div>
						<v-icon
							size="16"
							class="ml-3"
							@click="closeNotification(notification)"
						>mdi-close-circle</v-icon>
					</v-snackbar>
				</div>
			</v-fade-transition>
		</v-app>
	</div>
</template>

<script>
import Vue from 'vue'
import animationSync from 'css-animation-sync';


//  Utilities
import { mapGetters, mapActions, mapState } from 'vuex'

//  Laravel echo events broadcast listener
import Echo from "laravel-echo"

export default {
	computed: {
		...mapGetters('dashboard', ['getDoctors', 'getPatients', 'getActivityData', 'getNotifications']),
		...mapGetters('auth', ['getAccessToken', 'getAccessStatus', 'getUser']),
		...mapGetters('app', ['getAlertVisibility', 'getAlertType', 'getAlertMessage', 'getRouteChanging']),
		publicAllow() {
			return this.publicPaths.indexOf(this.$route.path) < 0 ? false : true
		},
		requiredData() {
			return !!this.getUser;
		},
		dataReady() {
			return !!(this.getDoctors && this.getPatients && this.getActivityData)
		},
	},

	data() {
		return {
			publicPaths: ['/login', '/register', '/unauthorized'],
		}
	},

	mounted() {
		
	},

	created() {
	},

	methods: {
		...mapActions('dashboard', ['fetchDoctors', 'fetchPatients', 'fetchActivities', 'fetchPatient', 'updatePatient', 'fetchNotifications']),
		...mapActions('app', ['updateSeverity']),
		...mapActions('auth', ['refresh']),
		closeNotification(notification) {
			this.$store.dispatch('auth/update', { body: notification })
				.then(response => {
					this.fetchNotifications()
				})
		}
	},

	watch: {
		getRouteChanging: {
			handler(newValue, oldValue) {
				if (this.getAccessStatus && !newValue) {
					window.Echo = new Echo({
						broadcaster: 'socket.io',
						host: 'https://backend.miutechs.com' + ':6001',
						auth: 
						{
							headers:
							{
								'Authorization': 'Bearer ' + this.getAccessToken
							}
						}
					})
					this.fetchPatient({})
						.then(() => {
							this.updateSeverity()
						})

					this.fetchNotifications()

					window.Echo.channel('patientAction')
						.listen('PatientUpdated', (e) => {
							console.log(e)
							this.updatePatient({ patient: e.patient })
						})

					window.Echo.channel('notificationAction')
						.listen('NotificationStored', (e) => {
							console.log(e)
							this.fetchNotifications()
						})
				}
			},
			deep: true
		},
		$route: {
			handler(newValue, oldValue) {
			}
		}
	}
}

</script>

<style lang="scss">
	/* Change Autocomplete styles in Chrome*/
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-internal-autofill-selected,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-animation: autofill 0s forwards;
		animation: autofill 0s forwards;
	}

	@keyframes autofill {
		100% {
			background: transparent;
			color: #000;
		}
	}

	@-webkit-keyframes autofill {
		100% {
			background: transparent;
			color: #000;
		}
	}

	.hidden {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.5s, opacity 0.5s linear;
	}

	.visible {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.3s linear;
	}

	#alertBox {
		width: 100%;
		margin: 0;
	}
</style>
