<template>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
            <v-toolbar dark color="primary">
                <v-btn icon dark @click="dialog = false">
                    <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>Make an appointment</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn dark flat @click="dialog = false">Save</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <FullCalendar
                class='demo-app-calendar'
                ref="fullCalendar"
                defaultView="dayGridMonth"
                :header="{
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                }"
                :plugins="calendarPlugins"
                :weekends="calendarWeekends"
                :events="calendarEvents"
                @dateClick="handleDateClick"
            />
        </v-card>
    </v-dialog>
</template>

<script>
    import axios from 'axios'
    import { mapGetters, mapActions } from 'vuex'
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'
    import appointments from '@/services/appointments'

    export default {
        components: {
            FullCalendar,
        },
        data() {
            return {
                appointments: null,
                calendarPlugins: [ // plugins must be defined in the JS
                    dayGridPlugin,
                ],
                calendarWeekends: true,
                calendarEvents: [ // initial event data
                    { title: 'Event Now', start: new Date() }
                ]
            }
        },
        computed: {
            ...mapGetters('app', ['getAppointmentDialog']),
            dialog: {
                get() {
                    return this.getAppointmentDialog
                },
                set(value) {
                    this.setAppointmentDialog(value)
                }
            },
            dataReady() {
                return !!(this.appointments)
            },
        },
        methods: {
            ...mapActions('app', ['setAppointmentDialog']),
            fetchAppointments(day) {
                let query = day ? `?day=${day}&` : ''
                return appointments.fetch(query)
            },
            toggleWeekends() {
                this.calendarWeekends = !this.calendarWeekends // update a property
            },
            gotoPast() {
                let calendarApi = this.$refs.fullCalendar.getApi() // from the ref="..."
                calendarApi.gotoDate('2000-01-01') // call a method on the Calendar object
            },
            handleDateClick(arg) {
                if (confirm('Would you like to add an event to ' + arg.dateStr + ' ?')) {
                    this.calendarEvents.push({ // add new event data
                        title: 'New Event',
                        start: arg.date,
                        allDay: arg.allDay
                    })
                }
            }
        },
        created() {
            if (!this.dataReady) {
                this.fetchAppointments()
                    .then(response => {
                        this.appointments = response.data.appointments
                    })
            }
        },
        mounted() {
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';
</style>