<template>
    <v-card class="chart-card" hover flat>
        <v-layout row wrap align-center fill-height class="margin-less">
            <v-flex xs12>
                <apexchart height="300px" :type="type" :options="chartOptions" :series="series"></apexchart>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script>
import { mapGetters } from 'vuex'


//  Chart types
//  1-> pie / donuts / radialbars
//  ex:   
//      series: [23, 11, 54, 72, 12],
//      labels: ["Apple", "Mango", "Banana", "Papaya", "Orange"]

export default {
    props: {
        type: {
            type: String,
            default: () => ''
        }
    },

    data() {
        return {
            chartOptions: {
                labels: ["Apple", "Mango", "Banana", "Papaya", "Orange"]
            },
            series: [23, 11, 54, 72, 12],
            // series: [{
            //     data: [{
            //         x: 'Apple',
            //         y: 55
            //     }, {
            //         x: 'Orange',
            //         y: 66
            //     }]

            //     // data: [[1324508400000, 34], [1324594800000, 54] , [1326236400000, 43]]
            // }],
        }
    },

    computed: {
        ...mapGetters(['getStorageURL']),
    },
    
    created() {
        
    },

    methods: {

    },
}

</script>

<style lang="scss" scoped>
    .chart-card {
        height: 100%;
        background: white;
        padding: 16px;
    }
</style>6