<template>
    <v-card>
        <v-card-title>
            <v-menu v-if="dataCategories.length > 0" offset-y>
                <template v-slot:activator="{ on }">
                    <v-btn
                        outline 
                        color="#42A5F5"
                        light
                        v-on="on">
                        {{ dataCategory }}
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile
                        v-for="(category, index) in dataCategories"
                        :key="index"
                        @click="setSelectedDataTableCategory(category)">
                        <v-list-tile-title>{{ category }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <v-dialog v-if="editable" v-model="dialog" persistent max-width="500px">
                <template v-slot:activator="{ on }">
                    <v-btn outline color="#42A5F5" light v-on="on">ADD</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Add new {{ dataCategory }}</span>
                    </v-card-title>
                    
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap v-for="(value, property) in editedItem" :key="property">
                                <v-flex xs4>
                                    <v-subheader style="text-transform: capitalize;">{{property}}</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field solo v-model="editedItem[property]"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            

            <v-spacer></v-spacer>
            
            <v-text-field 
                v-model="search" 
                append-icon="search" 
                label="Search" 
                single-line 
                hide-details>
            </v-text-field>
        </v-card-title>

        <v-data-table
            :headers="headers" 
            :items="data" 
            :search="search"
        >
            <template v-slot:items="props">
                <td v-for="(value, key) in props.item" :key="key">
                    <v-btn 
                        v-if="typeof value === 'object' && value.on_click" 
                        :color="value.color" 
                        light 
                        small
                        @click="onClick('open' + value.on_click, value.id)" 
                    >
                        {{ value.name }}
                    </v-btn>
                    <v-btn v-else-if="typeof value === 'object'" :color="value.color" small>{{ value.name }}</v-btn>
                    <div v-else>{{ value }}</div>
                </td>
                <td v-if="editable">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                </td>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
//  Utilities
import { mapGetters, mapActions } from 'vuex'

export default {
    computed: {

    },
    props: {
        data: {
            type: Array,
            default: () => ''
        },
        dataCategory: {
            type: String,
            default: () => ''
        },
        dataCategories: {
            type: Array,
            default: () => ''
        },
        editable: {
            type: Boolean,
            default: true
        }
    },

    data() {
        return {
            dialog: false,
            search: '',
            headers: [],

            editedIndex: -1,
            editedItem: {},
        }
    },

    computed: {
        ...mapGetters(['getStorageURL']),
    },
    
    created() {
        this.appendHeader(this.data[0])
        if (this.editable) {
            this.headers.push({ text: 'Actions', value: 'name', sortable: false })
        }
    },

    methods: {
        ...mapActions('app', ['setSelectedDataTableCategory']),

        onClick(callback, id) {
            this[callback](id)
        },

        openPatient(id) {
            alert(id)
        },

        openDoctor(id) {
            alert(id)
        },

        openUser(id) {
            alert(id)
        },

        appendHeader(object) {
            for(let property in object) {
                
                if (object[property] && typeof object[property] === 'object' && object[property].constructor === Object) {
                    this.headers.push({
                        text: property,
                        value: property + '.name'
                    })
                } else {
                    this.headers.push({
                        text: property,
                        value: property
                    })
                }
            }
        },

        editItem(item) {
            this.editedIndex = this.data.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        deleteItem(item) {
            const index = this.data.indexOf(item)
            confirm('Are you sure you want to delete this item?') && this.data.splice(index, 1)
        },

        close() {
            this.dialog = false

            setTimeout(() => {
                for(let property in this.editedItem) {
                    this.editedItem[property] = ''
                }
                this.editedIndex = -1
            }, 300)

        },

        save() {
            if(this.editedIndex > -1) {
                Object.assign(this.data[this.editedIndex], this.editedItem)
            } else {
                this.data.push(this.editedItem)
            }
            this.close()
        }
    },
    watch: {
        data(newValue, oldValue) {
            this.headers = []
            this.appendHeader(this.data[0])
            if (this.editable) {
                this.headers.push({ text: 'Actions', value: 'name', sortable: false })
            }

            this.editedItem = {}

            this.headers.forEach(header => {
                if(header['text'] !== 'Actions') {
                    this.$set(this.editedItem, header['text'], '')
                }
            })
        },
        dialog(value) {
            value || this.close()
        }
    },
}

</script>

<style lang="scss" scoped>

</style>