<template>
    <v-card class="height-100">
        <v-card-title>
            <h1 class="title">{{ title }}</h1>
        </v-card-title>
        <v-card-text>
            <v-form v-model="valid">
                <v-container>
                    <v-layout row wrap>
                        <v-flex 
                            v-for="(form, key) in formBlueprint" 
                            :key="key"
                            :class="[form.flex]"
                        >
                            <!-- TEXT TYPE -->
                            <v-text-field
                                v-if="form.type === 'text'"
                                v-model="formItem[form.value]"
                                outline
                                :append-icon="form.icon ? form.icon : ''"
                                :label="form.label"
                            ></v-text-field>
                            <!-- NUMBER TYPE -->
                            <v-text-field
                                v-if="form.type === 'number'"
                                v-model="formItem[form.value]"
                                outline
                                :label="form.label"
                                :suffix="form.unit"
                            ></v-text-field>
                            <!-- TEXTAREA TYPE -->
                            <v-textarea
                                v-if="form.type === 'textarea'"
                                v-model="formItem[form.value]"
                                outline
                                :append-icon="form.icon ? form.icon : ''"
                                :label="form.label"
                            ></v-textarea>              
                            <!-- SWITCH TYPE -->
                            <v-switch
                                v-else-if="form.type === 'switch'"
                                v-model="formItem[form.value]"
                                @change="onSwitch(form)"
                                :readonly="form.disabled"
                                :label="form.label"
                            >
                            </v-switch>
                            <!-- DATE TYPE -->
                            <v-menu
                                v-model="menus[form.value]"
                                v-else-if="form.type === 'date'"
                                :close-on-content-click="false"
                                full-width
                                max-width="290"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        clearable
                                        readonly
                                        v-on="on"
                                        outline
                                        :append-icon="form.icon ? form.icon : ''"
                                        :value="getDate(formItem[form.value])"
                                        :label="form.label"
                                    ></v-text-field>
                                </template>
                                    <v-date-picker
                                        v-model="formItem[form.value]"
                                        @change="menus[form.value] = false"
                                    ></v-date-picker>
                            </v-menu>
                            <!-- SELECT TYPE -->
                            <v-select
                                v-else-if="form.type === 'select' && form.condition && formItem[form.condition]"
                                v-model="formItem[form.value]"
                                :items="form.options"
                                :label="form.label"
                                solo
                                :background-color="getColor"
                                dark
                            ></v-select>
                            <!-- SELECT TYPE -->
                            <v-select
                                v-else-if="form.type === 'select' && !form.condition"
                                v-model="formItem[form.value]"
                                outline
                                :items="form.options"
                                :label="form.label"
                            ></v-select>
                            <!-- AUTOCOMPLETE TYPE -->
                            <v-autocomplete
                                v-else-if="form.type === 'autocomplete'"
                                v-model="formItem[form.value]"
                                cache-items
                                outline
                                :items="form.options"
                                :label="form.label"
                            ></v-autocomplete>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-form>
        </v-card-text>

        <v-card-actions>
            <v-layout>
                <v-flex class="text-xs-right">
                    <v-btn color="primary" @click="$emit('submit', formItem)">{{ submitLabel }}</v-btn>
                </v-flex>
            </v-layout>                
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                valid: false,
                formItem: {},
                menus: {},
            }
        },
        props: {
            formBlueprint: {
                type: Array,
                default: () => { return [] }
            },
            item: {
                type: Object,
                default: () => { return {} }
            },
            title: {
                type: String,
                default: ''
            },
            submitLabel: {
                type: String,
                default: 'Submit'
            }
        },
        computed: {
            getColor() {
                if (this.formItem['severity'] == 1) {
                   return '#F44336'
                }
                if (this.formItem['severity'] == 2) {
                    return '#FF9800'
                }
                if (this.formItem['severity'] == 3) {
                    return '#4CAF50'
                }
                if (this.formItem['severity'] == 4) {
                    return '#42A5F5'
                }
                return '#424242'
            }
        },
        methods: {
            resolve(path, obj) {
                return path.split('.').reduce(function(prev, curr) {
                    return prev ? prev[curr] : null
                }, obj || self)
            },
            getDate(dateString) {
                return dateString ? this.$moment(dateString).format('dddd, MMMM Do YYYY') : ''
            },
            onSwitch(form) {
                if (form.toggle) {
                    this.formItem[form.toggle] = !this.formItem[form.toggle]
                }
            },
        },
        created() {
            for (let param in this.item) {
                this.$set(this.formItem, param, this.item[param])
            }

            this.formBlueprint.forEach(field => {
                if (field.type === 'date') {
                    this.$set(this.menus, field.value, false)
                }
            })
        },
        watch: {
            item(newValue, oldValue) {
                if (newValue) {
                    for (let param in newValue) {
                        this.formItem[param] = newValue[param]
                    }
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .height-100 {
        height: 100%;
    }
</style>