<template>
    <v-dialog
        v-model="progress"
        hide-overlay
        persistent
        width="300">
        <v-card
            color="primary"
            dark>
            <v-card-text>
                Please stand by
                <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0">
                </v-progress-linear>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    //  Utilities
    import { mapGetters, mapActions } from 'vuex'
    export default {
        computed: {
            ...mapGetters('app', ['getProgress']),
            progress: {
                get() {
                    return this.getProgress || false
                },
                set(value) {
                    return this.setProgress(value)
                }
            }
        },
        methods: {
            ...mapActions('app', ['setProgress'])
        },
    }
</script>

<style lang="scss" scoped>

</style>