<template>
    <div class="menu" @mouseover="on = true" @mouseleave="on = false">
        <v-btn color="transparent" @click="on = true">

            <slot name="button"></slot>

            <v-icon v-show="!on">mdi-chevron-down</v-icon>
            <v-icon v-show="on">mdi-chevron-up</v-icon>
        </v-btn>

        <ul :class="[on ? 'visible' : 'hidden']">
            <li v-for="(option, index) in options" :key="index" @click="dispatch(option.action)">
                {{ option.title }}
            </li>
        </ul>

        <v-avatar class="user-avatar">
            <img :src="avatar" alt="avatar">
        </v-avatar>
    </div>
</template>

<script>
export default {
    props: {
        options: {
            type: Array,
            default: []
        },
        avatar: {
            type: String,
            default: ''
        }
    },

    data() {
        return {
            on: false,
        }
    },

    methods: {
        dispatch(action) {
            if(action !== '') {
                this.$store.dispatch(action)
            }
        }
    }
}

</script>

<style lang="scss" scoped>
    $spaceBetween: 8px;

    @media only screen and (max-width: 959px) {
        $spaceBetween: 4px !important;
    }

    .menu {
        position: relative;

        button {
            box-shadow: none !important;
        }

        ul {
            margin: 0;
            padding: 0;

            z-index: 100;

            list-style-type: none;

            position: absolute;
            right: 0;

            min-width: 200px;
            background: white;

            border-radius: 3px;
            border: 1px solid #dfdfdf;

            box-shadow: 0 2px 8px rgba(0,0,0,.1);

            transform: translate3d(0,10px,0);

            top: calc(50% + 22px);

            li {
                cursor: pointer;
                padding: 10px 10px;
            }

            li:hover {
                background: color-variation($drawer_theme, 'primary');
                color: white;
                transition: background 0.3s, color 0.2s linear;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .monitorDetails {
            flex-flow: column;
        }

        .user-avatar {
            display: none;
        }
    }
</style>
