<template>
    <v-card class="height-100">
        <!-- SEARCH INPUT -->
        <v-card-title>
            <v-layout align-center>
                <v-flex xs8>
                    <h1 class="headline">{{ title }}</h1>
                </v-flex>
                <v-flex xs4>
                    <v-text-field 
                        v-model="search" 
                        append-icon="search" 
                        label="Search" 
                        single-line 
                        hide-details
                    >
                    </v-text-field>
                </v-flex>
            </v-layout>
        </v-card-title>
        <!-- DATATABLE -->
        <v-data-table
            v-model="selected"
            :headers="headers"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :rows-per-page-items="[5, 10, 15, 20, 25, 50]"
        >
            <!-- NO DATA MESSSAGE -->
            <template v-slot:no-data>
                <div class="text-xs-center">
                    {{ noDataMessage }}
                </div>
            </template>
            <!-- DATATABLE HEADER TEMPLATE -->
            <template v-slot:headers="props">
                <tr :class="[headerColor]">
                    <th
                        v-for="header in props.headers"
                        :key="header.text"
                        :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '', header.align, theme]"
                        @click="changeSort(header.value)"
                    >
                        <v-icon :class="[theme]" small>arrow_upward</v-icon>
                        {{ header.text }}
                    </th>
                </tr>
            </template>
            <!-- DATATABLE ITEMS TEMPLATE -->
            <template v-slot:items="props">
                <tr :active="props.selected" @click="props.selected = !props.selected">
                    <td :class="blueprint.align" v-for="(blueprint, key) in itemsBlueprint" :key="key">
                        <span v-if="blueprint.type === 'text'">
                            {{ resolve(blueprint.value, props.item) ? resolve(blueprint.value, props.item) : '-' }}
                        </span>
                        <span v-else-if="blueprint.type === 'data'">
                            {{ resolve(blueprint.value, props.item) ? $moment(resolve(blueprint.value, props.item)).format('LLLL') : '-' }}
                        </span>
                        <span v-else-if="blueprint.type === 'counter'" :class="[ blueprint.animation ? (blueprint.animation + '-' + props.item['severity']) : '', blueprint.animation ? 'emergencyPulse' : '' ]">
                            {{ counter(resolve(blueprint.value, props.item), props.item) }}
                        </span>
                        <span v-else-if="blueprint.type === 'severity'" :class="[severity(resolve(blueprint.value, props.item)).color, 'dark', 'pa-2']">
                            {{ severity(resolve(blueprint.value, props.item)).text }}
                        </span>
                    </td>
                    <!-- DATATABLE ACTIONS -->
                    <td class="text-xs-right" v-if="actions.length > 0">
                        <v-tooltip top v-for="(action, index) in actions" :key="index">
                            <template v-slot:activator="{ on }">
                                <v-btn flat icon color="primary" @click="handle_function_call(action.func, [ props.item, action.patterns ])">
                                    <v-icon v-on="on" small>{{ action.icon }}</v-icon>
                                </v-btn>
                            </template>
                            <span>{{ action.tooltip }}</span>
                        </v-tooltip>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
import { close } from 'fs';
  export default {
    data() {
        return {
            pagination: {
                sortBy: null,
                rowsPerPage: null,
            },
            selected: [],
            search: '',
        }
    },

    props: {
        items: {
            type: Array,
            default: []
        },
        itemsBlueprint: {
            type: Array,
            default: []
        },
        actions: {
            type: Array,
            default: () => []
        },
        title: {
            type: String,
            default: '',
        },
        sortBy: {
            type: String,
            default: 'id'
        },
        rowsPerPage: {
            type: Number,
            default: 5
        },
        headerColor: {
            type: String,
            default: '',
        },
        theme: {
            type: String,
            default: ''
        },
        noDataMessage: {
            type: String,
            default: 'No data'
        }
    },

    computed: {
        headers() {
            let headerArray = []
            this.itemsBlueprint.forEach(blueprint => {
                headerArray.push({
                    text: blueprint.label,
                    value: blueprint.value,
                    align: blueprint.align
                })
            })
            if (this.actions.length > 0) {
                headerArray.push({ text: 'Actions', value: 'action', align: 'text-xs-right', sortable: false })
            }
            return headerArray
        },
    },

    created () {
        this.pagination.sortBy = this.sortBy
        this.pagination.rowsPerPage = this.rowsPerPage
    },

    methods: {
        handle_function_call(func, props) {
            this[func](...props)
        },
        resolve(path, obj) {
            return path.split('.').reduce(function(prev, curr) {
                return prev ? prev[curr] : null
            }, obj || self)
        },
        toggleAll () {
            if (this.selected.length) this.selected = []
            else this.selected = this.desserts.slice()
        },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        counter(time, item) {
            let timeS = Math.floor(time / 1000)

            let hours = Math.floor(timeS / 3600)
            let minutes = Math.floor(Math.floor(timeS % 3600) / 60)
            let seconds = timeS % 60

            let counter = ''
            counter += (hours > 9 ? hours : '0' + hours) + ':'
            counter += (minutes > 9 ? minutes : '0' + minutes) + ':'
            counter += seconds > 9 ? seconds : '0' + seconds

            return  time < 0 ? '00:00:00' : counter
        },
        severity(level) {
            if (level === 4) return { text: 'Acute Disease (4)', color: 'primary' }
            if (level === 3) return { text: 'Urgent (3)', color: 'success' }
            if (level === 2) return { text: 'Critic (2)', color: 'warning' }
            if (level === 1) return { text: 'Resuscitation (1)', color: 'error' }
            return { text: 'Not urgent (5)', color: 'primary' }
        },

        //  ACTIONS
        hospitalize(item) {
            this.$store.dispatch('dashboard/putPatient', {
                id: item.id,
                body: {
                    hospitalize: 1,
                    emergency: 0,
                    hospitalized_at: this.$moment().format('YYYY-MM-DD HH:mm:ss')
                }
            })
        },
        monitor(item) {
            this.$store.dispatch('dashboard/putPatient', {
                id: item.id,
                body: {
                    monitoring: 1,
                    monitoring_at: this.$moment().format('YYYY-MM-DD HH:mm:ss')
                }
            })
        },
        emergency(item) {
            this.$store.dispatch('dashboard/putPatient', {
                id: item.id,
                body: {
                    emergency: true,
                    emergency_at: this.$moment().format('YYYY-MM-DD HH:mm:ss'),
                    hospitalized_at: null
                }
            })
        },
        edit(item) {
            this.$emit('edit', item)
        },
        openPatient(item) {
            this.$router.push({ path: `/patients/${item.id}` })
        }
    },
  }
</script>

<style lang="scss" scoped>
    $i: 0;
    $pulsate: 'pulsate-';
    $severity: 'severity-';
    @each $red, $green, $blue, $duration in $pulse_colors {
        $i: $i + 1;
        @include keyframe($pulsate + $i) {
            @include emergencyPulse($red, $green, $blue);
        }
        @include class($severity + $i) {
            background: rgba($red, $green, $blue, 1);
            @include pulsate(#{$pulsate + $i}, #{'1s'});
        }
    }

    .emergencyPulse {
        padding: 4px 8px;
        color: white;
    }

    .dark {
        color: #fff !important;
    }
</style>