<template lang="htm">
    <div>
        <v-badge right overlap>
            <template v-slot:badge v-if="hasNotifications">
                <span>{{ getNotifications.length }}</span>
            </template>
            <v-icon @mouseover="on = true" @mouseleave="on = false">
                mdi-bell
            </v-icon>
        </v-badge>
        <!-- <ul :class="[on ? 'visible' : 'hidden']">
            <li v-for="notification in getNotifications">
                <v-chip close :color="colors[notification.severity - 1]" text-color="white">
                    {{ notification.message }}
                </v-chip>
            </li>
        </ul> -->
    </div>
</template>

<script>
//  Utilities
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            on: false,
            colors: ['blue', 'green', 'orange', 'red'],
            snackbar: true,
        }
    },
    computed: {
        ...mapGetters('dashboard', ['getNotifications']),
        hasNotifications() {
            return this.getNotifications.length > 0
        }
    },
}
</script>

<style lang="scss" scoped>
    ul {
        margin: 0;
        padding: 0;

        z-index: 100;

        list-style-type: none;

        position: absolute;
        right: 0;

        min-width: 200px;
        background: white;

        border-radius: 3px;
        border: 1px solid #dfdfdf;

        box-shadow: 0 2px 8px rgba(0,0,0,.1);

        transform: translate3d(0,10px,0);

        top: calc(50% + 22px);

        li {
            cursor: pointer;
            padding: 10px 10px;
        }

        li:hover {
            background: color-variation($drawer_theme, 'primary');
            color: white;
            transition: background 0.3s, color 0.2s linear;
        }
    }
</style>
