<template>
    <v-card class="overview-card" hover flat>
        <v-layout row wrap align-center fill-height class="margin-less">
            <v-flex xs7 md8 lg9>
                <span class="count">
                   {{ count }}
                </span>
                <span class="entity">
                    {{ type }}
                </span>
            </v-flex>

            <v-flex xs5 md4 lg3>
                <v-img :src="getStorageURL + 'images/medicine/' + type + '.svg'"></v-img>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: {
        entity: {
            type: Array,
            default: () => []
        },

        type: {
            type: String,
            default: () => ''
        }
    },

    computed: {
        ...mapGetters(['getStorageURL']),
        
        count() {
            if (Array.isArray(this.entity)) {
                return this.entity.length
            }
            return 0;
        },
    },

    methods: {

    }
}

</script>

<style lang="scss" scoped>
    span {
        display: block;
        padding: 4px 0;
    }

    span.count {
        color: #b9b9b9;
        font-weight: bold;
    }

    span.entity {
        color: #42A5F5;
        font-weight: bold;
        text-transform: capitalize;
    }

    .overview-card {
        height: 100%;
        background: white;
        padding: 16px;
    }
</style>6