<template>
    <div class="process">
        <div v-if="patient">
            <div class="patient-container">
                <v-avatar class="patient-avatar" :size="200">
                    <img src="@/assets/img/patient.png" alt="Patient" />
                </v-avatar>

                <div class="details">
                    <h3 class="display-2">{{ patient.human.first_name }} {{ patient.human.last_name }} </h3>
                    <p class="body-1 font-weight-thin" style="opacity: 0.8;">{{ patient.departament }}</p>
                    
                    <p class="body-2">
                        <span class="patient-detail">Date of Birth</span>
                        <span>{{ $moment(patient.human.birth_date).format('MM/DD/YYYY') }}</span>
                    </p>

                    <p class="body-2">
                        <span class="patient-detail">CNP</span>
                        <span>{{ patient.cnp }}</span>
                    </p>

                    <p class="body-2">
                        <span class="patient-detail">Phone Number</span>
                        <span>{{ patient.human.phone_no }}</span>
                    </p>

                    <p class="body-2">
                        <span class="patient-detail">Email</span>
                        <span>{{ patient.human.email }}</span>
                    </p>
                </div>
            </div>
            <v-card class="monitor">
                <v-card-title>
                    <h5 class="headline">Process</h5>
                </v-card-title>
                <v-card-text>
                    <v-layout class="processDetails">
                        <v-flex xs12 sm4 md4>
                            <h6 class="subheading">Parameters</h6>
                            <div v-for="parameter in parameters" :key="parameter.type">
                                <span>{{ parameter.label + ': ' }}</span>
                                <span>{{ patient[parameter.type] + parameter.unit }}</span>
                            </div>                   
                        </v-flex>
                        <v-flex xs12 sm4 md4>
                            <h6 class="subheading">References</h6>
                            <div v-for="(interval, key) in parametersIntervals" :key="key">
                                <span>{{ parameters[key].label + ': ' }}</span>
                                <span>{{ interval.min + parameters[key].unit + ' - ' + interval.max + parameters[key].unit }}</span>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm4 md4>
                            <h6 class="subheading">Extern factors</h6>
                            <div v-for="(factor, key) in externFactors" :key="key">
                                <span>{{ factor.substance + ' ' + factor.quantity + factor.unit}}</span>
                            </div>
                        </v-flex>
                    </v-layout>
                    <v-divider></v-divider>
                    <v-layout>
                        <v-flex xs12>
                            <h6 class="subheading">Graphics</h6>
                        </v-flex>
                    </v-layout>
                    <v-divider></v-divider>
                    <v-layout>
                        <v-flex xs12>
                            <h6 class="subheading">Process</h6>
                            <v-select
                                v-model="selectedProcess"
                                :items="processes"
                                :disabled="processStarted"
                                @change="updatePatientInfection"
                                item-text="label"
                                item-value="illness_type"
                                label="Select process"
                                return-object
                                solo
                            ></v-select>
                            <v-text-field
                                v-if="selectedProcess.illness_type !== ''"
                                v-model="illness_quantity"
                                :disabled="processStarted"
                                solo
                                suffix="g"
                                label="Quantity"
                            ></v-text-field>
                            <div class="text-xs-right">
                                <v-btn v-if="!processStarted" color="primary" @click="startProcess()">Start Process</v-btn>
                                <v-btn v-else color="error" @click="stopProcess()">Stop Process</v-btn>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            patient: {
                type: Object,
                default: () => {}
            },
        },
        data() {
            return {
                parameters: {
                    temperature: { label: 'Temperature', type: 'temperature', unit: '°' },
                    bpm: { label: 'Heart rate', type: 'bpm', unit: ' beats / min' },
                    blood_presure: { label: 'Blood presure', type: 'blood_presure', increases: ['bpm'], unit: ' mmHg' }
                },
                parametersIntervals: {
                    temperature: { type: 'temperature', min: 37, max: 38 },
                    bpm: { type: 'bpm', min: 50, max: 80 },
                    blood_presure: { type: 'blood_presure', min: '90/60', max: '120/80' }
                },
                illnesses: {
                    bacteria_alpha: { label: 'Bacteria Alpha', type: 'bacteria_alpha', resistant: ['Atenolol'], increases: ['temperature', 'blood_presure'], decreases: [] }
                },
                medications: {
                    H2O: { substance: 'H2O', increases: 'temperature', decreases: 'Bacteria alpha', rate: 0.4 },
                    Atenolol: { substance: 'Atenolol', decreases: 'blood_presure', rate: 0.25 },
                },
                processes: [
                    { label: 'No infections', illness_type: '' },
                    { label: 'Bacteria Alpha', illness_type: 'bacteria_alpha' },
                ],
                illness_quantity: '',
                selectedProcess: { label: 'No infections', illness_type: '' },
                processStarted: false,
                process: null
            }
        },
        methods: {
            startProcess() {
                this.processStarted = true
                this.process = setInterval(() => {
                    if (this.externFactors) {
                        this.externFactors.forEach((factor, key) => {
                            let factor_quantity = factor.quantity
                            let factor_substance = factor.substance
                            let factor_unit = factor.unit
                            // Deacrese factor quantity
                            if (factor_quantity > 0) {
                                factor_quantity = (factor_quantity - 0.001).toFixed(4)
                            }
                            // Reconstruct factors string
                            let reconstructFactorString = ''
                            this.externFactors.forEach((recFactor, recKey) => {
                                if (key !== recKey) {
                                    reconstructFactorString += recFactor.substance + '(' + recFactor.quantity + ' ' + recFactor.unit + '),'
                                } else {
                                    reconstructFactorString += factor_substance + '(' + factor_quantity + ' ' + factor_unit + '),'
                                }
                            })
                            //  Compute normal parameters
                            let highBloodPresure = parseFloat(this.patient.blood_presure.split('/')[0])
                            let lowBloodPresure = parseFloat(this.patient.blood_presure.split('/')[1])

                            let highBPR = (Math.random() * 0.1) * 4
                            let lowBPR = (Math.random() * 0.1) * 4

                            if (highBloodPresure > 120) {
                                highBloodPresure -= highBPR 
                            } else if (highBloodPresure < 110) {
                                highBloodPresure += highBPR 
                            }

                            if (lowBloodPresure > 80) {
                                lowBloodPresure -= lowBPR
                            } else if (lowBloodPresure < 70) {
                                lowBloodPresure += lowBPR
                            }

                            let bpm = Math.floor(Math.random() * 6)
                            if (this.patient.bpm < 50) {
                                bpm = this.patient.bpm + bpm - Math.floor(Math.random() * 3)
                            } else if (this.patient.bpm > 80) {
                                bpm = this.patient.bpm - bpm + Math.floor(Math.random() * 3)
                            } else {
                                if (Math.floor(Math.random() * 2)) {
                                    bpm = this.patient.bpm + bpm
                                } else {
                                    bpm = this.patient.bpm - bpm
                                }
                            }
                            
                            let temperature = (Math.random() * 0.1) * 4
                            if (this.patient.temperature < 37) {
                                temperature = this.patient.temperature + temperature - (Math.random() * 0.1) * 2
                            } else if (this.patient.temperature > 38) {
                                temperature = this.patient.temperature - temperature + (Math.random() * 0.1) * 2
                            } else {
                                if (Math.floor(Math.random() * 2)) {
                                    temperature = this.patient.temperature + temperature
                                } else {
                                    temperature = this.patient.temperature - temperature
                                }
                            }

                            //  Process external factors
                            if (factor_substance === 'Atenolol' ) {
                                highBloodPresure -= 0.25
                                lowBloodPresure -= 0.25
                            }

                            if (factor_substance === 'H2O' ) {
                                temperature -= 10 * this.illness_quantity
                                if (this.selectedProcess.illness_type === 'bacteria_alpha' && factor_quantity > 0) {
                                    if (this.illness_quantity > 0) {
                                        this.illness_quantity = (parseFloat(this.illness_quantity) - 0.0003).toFixed(4)
                                    }
                                }
                            }
                            //  Process infections
                            if (this.selectedProcess.illness_type === 'bacteria_alpha' && this.illness_quantity > 0) {
                                temperature += 10 * this.illness_quantity
                                highBloodPresure += 10 * this.illness_quantity
                                lowBloodPresure += 10 * this.illness_quantity
                                this.illness_quantity = (parseFloat(this.illness_quantity) + 0.0001).toFixed(4)
                            } else if (this.illness_quantity < 0) {
                                this.illness_quantity = 0
                            }

                            let newParameters = {
                                temperature: temperature.toFixed(2),
                                bpm: bpm.toFixed(0),
                                blood_presure: highBloodPresure.toFixed(2) + '/' + lowBloodPresure.toFixed(2),
                                extern_factors: reconstructFactorString
                            }

                            this.$store.dispatch('dashboard/putPatient', {
                                id: this.patient.id,
                                body: newParameters
                            })
                        })
                    }
                }, 2000)
            },
            stopProcess() {
                this.processStarted = false
                clearInterval(this.process)
            },
            updatePatientInfection() {
                this.$store.dispatch('dashboard/putPatient', {
                    id: this.patient.id,
                    body: {
                        infection: this.selectedProcess.label
                    }
                })
            }
        },
        computed: {
            externStringFactors() {
                let stringFactors = []
                if (this.patient.extern_factors) {
                    stringFactors = this.patient.extern_factors.split(',')
                    return stringFactors
                }
                
                return null
            },
            externFactors() {
                let factors = []
                if (this.externStringFactors) {
                    this.externStringFactors.forEach(factor => {
                        if (factor) {
                            let substance = factor.split('(')[0]
                            let quantity = factor.split('(')[1].split(')')[0].split(' ')[0]
                            let unit = factor.split('(')[1].split(')')[0].split(' ')[1]
                            factors.push(
                                { substance: substance, quantity: quantity, unit: unit }
                            )
                        }
                    })
                }
                return factors
            }
        },
        created () {

        },
        destroyed () {
            clearInterval(this.process)
        },
    }
</script>

<style lang="scss">

    .patient-container {
        margin-bottom: 30px;
        display: flex;
        flex-flow: row;
        width: 100%;

        .patient-avatar {
            display: block;
            margin-right: 40px;
            height: 100%;
        }

        .details {
            margin: 20px 0;
        }

        .patient-detail {
           display: inline-block;
           width: 160px;
           margin-right: 100px;
        }
    }

    .clearfix {
        overflow: auto;
        clear: both;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .patient-overview-tabs {
        .v-tabs__bar {
            margin-bottom: 40px;
        }
    }

    .monitor {
        min-height: 400px;

        .monitorBtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover {
                position: absolute;
            }
        }
    }

    .process {
        .subheading {
            margin: 10px 0;
        }
    }

    @media screen and (max-width: 600px) {
        .monitorDetails {
            flex-flow: column;
        }

        .patient-container {
            flex-flow: column !important;
        }
    }
</style>