<template>
    <v-card class="patient-card" hover flat v-if="dataReady">
        <v-layout row wrap align-center fill-height class="margin-less">
            <v-flex xs5>
                <h1 id="patient-name">
                    {{ patient['First name'] + ' ' + patient['Last name']}}
                </h1>
            </v-flex>
            <v-flex xs5>
                <h4 id="patient-hospitalized">
                    {{ timeSpent }}
                </h4>
            </v-flex>
            <v-flex xs2>
                <div id="patient-options">
                    <div class="text-xs-right">
                        <v-btn fab dark small color="teal">
                            <v-icon dark>list</v-icon>
                        </v-btn>
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    props: {
        id: {
            type: Number,
            default: () => 0
        }
    },

    data() {
        return {
            timeSpent: 0,
            now: null,
            duration: null,
            interval: 1000,
        }
    },

    computed: {
        ...mapGetters('dashboard', ['getPatients']),
        patient() {
            return this.getPatients.filter(patient => patient.ID == this.id)[0]
        },
        dataReady() {
			return !!(this.patient)
        },
        hospitalized_at() {
            if (this.dataReady) {
                return this.$moment(this.patient['Hospitalized'])
            }
            return false
        }
    },
    
    created() {
        if (!this.dataReady) {
			this.fetchPatients()
        }

        this.now = this.$moment()
        this.duration = this.$moment.duration(this.now.diff(this.hospitalized_at), 'milliseconds')

        this.timeSpent = this.showClock(this.duration)
    },

    mounted() {
        setInterval(() => {
            this.now = this.$moment()
            this.duration = this.$moment.duration(this.now.diff(this.hospitalized_at), 'milliseconds')

            this.timeSpent = this.showClock(this.duration)
        }, this.interval);
    },

    methods: {
        ...mapActions('dashboard', ['fetchPatients']),
        showClock(milliseconds) {
            let hours = Math.floor(milliseconds / 3600000)
            let minutes = Math.floor((milliseconds - hours * 3600000) / 60000)
            let seconds = Math.floor((milliseconds - hours * 3600000 - minutes * 60000) / 1000)

            hours = hours < 10 ? '0' + hours : hours
            minutes = minutes < 10 ? '0' + minutes : minutes
            seconds = seconds < 10 ? '0' + seconds : seconds

            return hours + ':' + minutes + ':' + seconds
        }
    },
}

</script>

<style lang="scss" scoped>
    .patient-card {
        margin: 16px 0;
        padding: 0 16px;
    }
</style>