<template>
    <div>
        <div v-if="patient">
            <div class="patient-container">
                <v-avatar class="patient-avatar" :size="200">
                    <img src="@/assets/img/patient.png" alt="Patient" />
                </v-avatar>

                <div class="details">
                    <h3 class="display-2">{{ patient.human.first_name }} {{ patient.human.last_name }} </h3>
                    <p class="body-1 font-weight-thin" style="opacity: 0.8;">{{ patient.departament }}</p>
                    
                    <p class="body-2">
                        <span class="patient-detail">Date of Birth</span>
                        <span>{{ $moment(patient.human.birth_date).format('MM/DD/YYYY') }}</span>
                    </p>

                    <p class="body-2">
                        <span class="patient-detail">CNP</span>
                        <span>{{ patient.cnp }}</span>
                    </p>

                    <p class="body-2">
                        <span class="patient-detail">Phone Number</span>
                        <span>{{ patient.human.phone_no }}</span>
                    </p>

                    <p class="body-2">
                        <span class="patient-detail">Email</span>
                        <span>{{ patient.human.email }}</span>
                    </p>
                </div>
            </div>

            <v-tabs
                v-model="active"
                color="transparent"
                left
                slider-color="#42A5F5"
                class="patient-overview-tabs">
                <v-tab>Patient Information</v-tab>
                <v-tab>Medical Reports</v-tab>
                <v-tab>Monitor</v-tab>

                <v-tab-item>
                    <v-card>
                        <v-card-title>
                            <h5 class="headline">Patient Information</h5>

                            <div class="patient-container">
                                <div class="details">
                                    <p class="body-2">
                                        <span class="patient-detail">First Name</span>
                                        <span>{{ patient.human.first_name }}</span>
                                    </p>

                                    <p class="body-2">
                                        <span class="patient-detail">Last Name</span>
                                        <span>{{ patient.human.last_name }}</span>
                                    </p>

                                    <p class="body-2">
                                        <span class="patient-detail">Date of Birth</span>
                                        <span>{{ $moment(patient.human.birth_date).format('MM/DD/YYYY') }}</span>
                                    </p>

                                    <p class="body-2">
                                        <span class="patient-detail">CNP</span>
                                        <span>{{ patient.cnp }}</span>
                                    </p>

                                    <p class="body-2">
                                        <span class="patient-detail">Phone Number</span>
                                        <span>{{ patient.human.phone_no }}</span>
                                    </p>

                                    <p class="body-2">
                                        <span class="patient-detail">Email</span>
                                        <span>{{ patient.human.email }}</span>
                                    </p>

                                    <p class="body-2" v-if="patient.hospitalized">
                                        <span class="patient-detail">Hospitalized since</span>
                                        <span>{{ $moment(patient.hospitalized_at).from($moment()) }}</span>
                                    </p>

                                    <p class="body-2" v-if="patient.emergency">
                                        <span class="patient-detail">Emergency since</span>
                                        <span>{{ $moment(patient.emergency).from($moment()) }}</span>
                                    </p>

                                    <p class="body-2" v-if="patient.monitoring">
                                        <span class="patient-detail">Monitoring since</span>
                                        <span>{{ $moment(patient.monitoring_at).from($moment()) }}</span>
                                    </p>
                                </div>
                            </div>  
                        </v-card-title>
                    </v-card>
                </v-tab-item>

                <v-tab-item>
                    <utils-my-data-table
                        :items="patient.records"
                        :itemsBlueprint="recordsBlueprint"
                        :sortBy="'created_at'"
                        headerColor="primary"
                        theme="dark"
                        :title="patient.human.first_name + ' ' + patient.human.last_name + ' medical records'"
                        noDataMessage="There are no records about this patient"    
                    >
                    </utils-my-data-table> 
                </v-tab-item>

                <v-tab-item>
                    <v-card class="monitor">
                        <v-btn
                            v-if="!patient.monitoring"
                            @click="monitor"
                            class="monitorBtn"
                            color="primary"
                        >Start monitoring</v-btn>
                        <v-card-title v-if="patient.monitoring">
                            <h5 class="headline">Monitoring</h5>
                        </v-card-title>
                        <v-card-text v-if="patient.monitoring">
                            <v-layout class="monitorDetails">
                                <v-flex xs12 sm4 md4>
                                    <h6 class="subheading">Parameters</h6>
                                    <div v-for="parameter in parameters" :key="parameter.type">
                                        <span>{{ parameter.label + ': ' }}</span>
                                        <span>{{ patient[parameter.type] + parameter.unit }}</span>
                                    </div>
                                    <div v-if="patient.infection">
                                        <span>Infection: </span>
                                        <span>{{ patient.infection }}</span>
                                    </div>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
                                    <h6 class="subheading">References</h6>
                                    <div v-for="(interval, key) in parametersIntervals" :key="key">
                                        <span>{{ parameters[key].label + ': ' }}</span>
                                        <span>{{ interval.min + parameters[key].unit + ' - ' + interval.max + parameters[key].unit }}</span>
                                    </div>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
                                    <h6 class="subheading">Extern factors</h6>
                                    <div v-for="(factor, key) in externFactors" :key="key">
                                        <span>{{ factor.substance + ' ' + factor.quantity + factor.unit}}</span>
                                    </div>
                                </v-flex>
                            </v-layout>
                            <v-divider></v-divider>
                            <v-layout>
                                <v-flex xs12>
                                    <h6 class="subheading">Graphics</h6>
                                </v-flex>
                            </v-layout>
                            <v-divider></v-divider>
                            <v-layout>
                                <v-flex xs12>
                                    <div style="display: flex; ">
                                        <h6 class="subheading mr-2">Substances</h6>
                                    </div>

                                    <v-layout>
                                        <v-flex xs6>
                                            <v-select
                                                v-model="selectedMedication"
                                                :items="medications"
                                                :disabled="processStarted"
                                                item-text="substance"
                                                item-value="substance"
                                                label="Select substance"
                                                return-object
                                                solo
                                            ></v-select>
                                        </v-flex>
                                        <v-flex xs6>
                                            <v-text-field
                                                v-model="quantity"
                                                solo
                                                suffix="g"
                                                label="Quantity"
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    
                                    
                                    <div class="text-xs-right">
                                        <v-btn
                                            :disabled="Object.keys(selectedMedication) < 1"
                                            color="primary"
                                            @click="injectSubstance()"
                                        >Inject Substance</v-btn>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            patient: {
                type: Object,
                default: () => {}
            },
        },
        data() {
            return {
                recordsBlueprint: [
                    { label: 'Created at', value: 'created_at', align: 'text-xs-left', type: 'text' },
                    { label: 'Diagnostic', value: 'diagnostic', align: 'text-xs-left', type: 'text' },
                    { label: 'Known allergies', value: 'known_alergies', align: 'text-xs-left', type: 'text' },
                    { label: 'Medication', value: 'medication', align: 'text-xs-left', type: 'text' },
                    { label: 'Taking care by', value: 'doctor.human.first_name', align: 'text-xs-left', type: 'text' },
                ],
                active: null,
                parameters: {
                    temperature: { label: 'Temperature', type: 'temperature', unit: '°' },
                    bpm: { label: 'Heart rate', type: 'bpm', unit: ' beats / min' },
                    blood_presure: { label: 'Blood presure', type: 'blood_presure', increases: ['bpm'], unit: ' mmHg' }
                },
                parametersIntervals: {
                    temperature: { type: 'temperature', min: 37, max: 38 },
                    bpm: { type: 'bpm', min: 50, max: 80 },
                    blood_presure: { type: 'blood_presure', min: '90/60', max: '120/80' }
                },
                illnesses: {
                    bacteria_alpha: { label: 'Bacteria Alpha', type: 'bacteria_alpha', resistant: ['Atenolol'], increases: ['temperature', 'blood_presure'], decreases: [] }
                },
                medications: [ 
                    { substance: 'H2O' },
                    { substance: 'Atenolol' },
                ],
                substances: [],
                selectedMedication: {},
                quantity: 0.0,
                illness_quantity: '',
                processStarted: false,
                process: null
            }
        },
        methods: {
            monitor() {
                this.$store.dispatch('dashboard/putPatient', {
                    id: this.patient.id,
                    body: {
                        monitoring: 1,
                        monitoring_at: this.$moment().format('YYYY-MM-DD HH:mm:ss')
                    }
                })
            },
            injectSubstance() {
                let ok = true
                let reconstructFactorString = ''

                this.externFactors.forEach((factor, key) => {
                    let factor_quantity = factor.quantity
                    let factor_substance = factor.substance
                    let factor_unit = factor.unit

                    if (this.selectedMedication.substance === factor_substance) {
                        factor_quantity = this.quantity
                        ok = false
                    }
                  
                    reconstructFactorString += factor_substance + '(' + factor_quantity + ' ' + factor_unit + '),'
                })

                if (ok) {
                    reconstructFactorString += this.selectedMedication.substance + '(' + this.quantity + ' ' + 'g),'
                }

                this.$store.dispatch('dashboard/putPatient', {
                    id: this.patient.id,
                    body: {
                        extern_factors: reconstructFactorString
                    }
                })
            }
        },
        computed: {
            externStringFactors() {
                let stringFactors = []
                if (this.patient.extern_factors) {
                    stringFactors = this.patient.extern_factors.split(',')
                    return stringFactors
                }
                
                return null
            },
            externFactors() {
                let factors = []
                if (this.externStringFactors) {
                    this.externStringFactors.forEach(factor => {
                        if (factor) {
                            let substance = factor.split('(')[0]
                            let quantity = factor.split('(')[1].split(')')[0].split(' ')[0]
                            let unit = factor.split('(')[1].split(')')[0].split(' ')[1]
                            factors.push(
                                { substance: substance, quantity: quantity, unit: unit }
                            )
                        }
                    })
                }
                return factors.sort(function (a, b) {
                    if (a.substance < b.substance) { return -1 }
                    if (a.substance > b.substance) { return -1 }
                    return 0
                })
            }
        },
        created() {}
    }
</script>

<style lang="scss">

    .patient-container {
        margin-bottom: 30px;
        display: flex;
        flex-flow: row;
        width: 100%;

        .patient-avatar {
            display: block;
            margin-right: 40px;
            height: 100%;
        }

        .details {
            margin: 20px 0;
        }

        .patient-detail {
           display: inline-block;
           width: 160px;
           margin-right: 100px;
        }
    }

    .clearfix {
        overflow: auto;
        clear: both;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .patient-overview-tabs {
        .v-tabs__bar {
            margin-bottom: 40px;
        }
    }

    .monitor {
        min-height: 400px;

        .monitorBtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover {
                position: absolute;
            }
        }
    }

    .monitor {
        .subheading {
            margin: 10px 0;
        }
    }

    @media screen and (max-width: 600px) {
        .monitorDetails {
            flex-flow: column;
        }

        .patient-container {
            flex-flow: column !important;
        }
    }
</style>