<template>
	<v-container fluid fill-height class="grey lighten-4">
		<v-layout>
			<v-flex xs12>
				<v-form @submit.prevent="loginAction" class="login-form">
					<v-layout column>
						<!-- <v-flex text-sm-center text-md-center text-lg-center xs12>
							<v-avatar size="100" color="grey lighten-4">
								<img
								src="https://www.freeiconspng.com/uploads/ambulance-cross-hospital-icon-11.png"
								alt="avatar"
								>
							</v-avatar>
						</v-flex> -->

						<v-flex xs8 class="login-form-item">
							<v-text-field
								v-model="email"
								outline
								label="E-mail"
								background-color="orange"
								required
							></v-text-field>
						</v-flex>

						<v-flex xs8 class="login-form-item">
							<v-text-field
								v-model="password"
								outline
								label="Password"
								:append-icon="showPassword ? 'visibility' : 'visibility_off'"
								:type="showPassword ? 'text' : 'password'"
								@click:append="showPassword = !showPassword"
								background-color="orange"
								browser-autocomplete="off"
								required
							></v-text-field>
						</v-flex>

						<v-flex text-xs-center xs12>
							<v-btn type="submit">
								Sign in
							</v-btn>
						</v-flex>
						<v-flex text-xs-center xs12>
							<v-btn to="/register">
								Create a new account
							</v-btn>
						</v-flex>
					</v-layout>
				</v-form>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
//  Utilities
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            email: '',
            password: '',
			showPassword: false,
		}
    },

    methods: {
		...mapActions('auth', ['login']),
		...mapActions('app', ['setAlert', 'setProgress']),
        loginAction() {
			this.setProgress(true)

			const user = {
				email: this.email,
				password: this.password
			}

			this.login(user)
			.then(() => {
				this.$router.push('/')
				this.setProgress(false)
			})
			.catch(error => {
				this.setAlert({
					visible: true,
					type: 'error',
					message: error.message,
				})
				this.setProgress(false)
			})
        },
    },
}
</script>

<style lang="scss" scoped>

	.login-form {
		position: absolute;
		max-width: 600px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media screen and (min-width: 500px)  {
		.login-form-item {
			min-width: 400px;
		}
	}
</style>