<template>
	<v-container fluid fill-height class="grey lighten-4">
		<v-layout row wrap align-center justify-center>
			<v-flex xs4>
		        <v-form>
					<v-container>
						<v-layout row wrap>
							<!-- <v-flex text-sm-center text-md-center text-lg-center xs12>
								<v-avatar size="100" color="grey lighten-4">
									<img
									src="https://www.freeiconspng.com/uploads/ambulance-cross-hospital-icon-11.png"
									alt="avatar"
									>
								</v-avatar>
							</v-flex> -->

							<v-flex xs12>
					            <v-text-field
					            	v-model="name"
									outline
									label="Name"
									background-color="orange"
									required
								></v-text-field>
							</v-flex>

							<v-flex xs12>
					            <v-text-field
					            	v-model="email"
									outline
					            	:error-messages="errors.collect('email')"
									label="E-mail"
									background-color="orange"
									required
								></v-text-field>
							</v-flex>

							<v-flex xs12>
					            <v-text-field
						            v-model="password"
									outline
									label="Password"
					            	:append-icon="showPassword ? 'visibility' : 'visibility_off'"
									:type="showPassword ? 'text' : 'password'"
				            		@click:append="showPassword = !showPassword"
									background-color="orange"
									browser-autocomplete="off"
									required
					            ></v-text-field>
							</v-flex>

							<v-flex xs12>
					            <v-text-field
						            v-model="passwordConfirmation"
									outline
									label="Password Confirmation"
					            	:append-icon="showPassword ? 'visibility' : 'visibility_off'"
									:type="showPassword ? 'text' : 'password'"
				            		@click:append="showPassword = !showPassword"
									background-color="orange"
									browser-autocomplete="off"
									required
					            ></v-text-field>
							</v-flex>

							<v-flex text-sm-center text-md-center text-lg-center xs12>
					            <v-btn @click="register">
					                Sign up
					            </v-btn>
								<v-btn to="/login">
					                Have an account?
					            </v-btn>
							</v-flex>
						</v-layout>
					</v-container>
		        </v-form>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {

    data() {
        return {
			name: '',
            email: '',
            password: '',
			passwordConfirmation: '',
			showPassword: false,
		}
    },

    methods: {
        register() {
			let data = {
				name: this.name,
				email: this.email,
				password: this.password
			}

            this.$store.dispatch('register', data)
			.then(() => this.$router.push('/'))
			.catch(err => console.log(err))
        },
    },
}
</script>
