<template>
	<v-container fluid fill-height class="grey lighten-4">
		<v-layout justify-center align-center>
			<v-flex shrink center>
				<h1>Unauthorized</h1>
				<h1>401 :(</h1>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
    .center {
        text-align: center;
    }
</style>